# Mac specific files
.DS_Store

# Python specific files
*.pyc
*.cache
*.coverage
__pycache__
*.egg-info

# pytest coverage plugin files
htmlcov

# virtualenv
.env

# data
*.tsv*
*.txt*
*.csv*
*.db
./data
./logs

# secrets
./secrets
